#support{
    scroll-margin-top: -80px;
}
#tariffs{
    scroll-margin-top: -110px;
}
#cases{
    scroll-margin-top: -80px;
}
#reviews{
    scroll-margin-top: -115px;
}
#contacts {
    scroll-margin-top: -70px;
}
