


.team {
    background: var(--color-surface);
    color: var(--color-text-dark);
    padding: 80px 0 72px;
}


.team__title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--main-black, #050C33);
    margin-bottom: 80px;
}


.team__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 60px 120px; 
}

@media (max-width: 1023px) {
    .team__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
    }

    .team-member {
        align-items: center;
        text-align: center;
    }

    .team-member__content {
        align-items: center;
    }
}

@media (max-width: 640px) {
   

    .team__title {
        font-size: 34px;
        margin-bottom: 36px;
    }

    .team__grid {
        grid-template-columns: 1fr;
        gap: 32px;
        justify-items: center;
    }

    .team-member {
        align-items: center;
        text-align: center;
    }
}


.team-member {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    padding: 0;
}


.team-member__image-wrapper {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin: 0;
}

@media (max-width: 1023px) {
    .team-member {
        align-items: center;
        text-align: center;
    }

    .team-member__content {
        align-items: center;
    }
}


.team-member__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.team-member__content {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 30px; 
}


.team-member__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}


.team-member__role {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(5, 12, 51, 0.7);
    white-space: pre-line; 
    margin: 0;
}
